
@import "ui-variables";

autocomplete-suggestion-list .icon.acronym {
  color: @syntax-color-method;
  background: fadeout(@syntax-color-method, 80%)
}

autocomplete-suggestion-list .icon.symbols {
  color: @syntax-color-function;
  background: fadeout(@syntax-color-function, 80%)
}

autocomplete-suggestion-list .icon.index {
  color: @syntax-color-tag;
  background: fadeout(@syntax-color-tag, 80%)
}
